body {
  text-rendering: optimizeSpeed;
  font-family: $font;
  font-size: 18px;
  color: $dark;
}

strong, b {
  font-weight: 600;
}

.heading {
  margin-bottom: 0.3em;
  &--1 {
    @extend .heading;
    font-size: 61px;
    font-weight: 800;
    u {
      text-decoration-color: $red;
      &:nth-child(2) {
        text-decoration-color: $yellow;
      }
    }
  }
  &--2 {
    @extend .heading;
    font-size: 41px;
    font-weight: 800;
  }
  &--3 {
    @extend .heading;
    font-size: 27px;
    font-weight: normal;
    color: $dark-01;
  }
  &--4 {
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 600;
  }
}

.paragraph {
  padding: 30px 0;
  line-height: 23px; 
}

@media (max-width: $breakpoint-sm) 
{
  body {
    font-size: 16px;
  }
.heading {
  margin-bottom: 0.3em;
  &--1 {
    font-size: 41px;
    font-weight: 800;
  }
  &--2 {
    font-size: 27px;
  }
  &--3 {
    font-size: 23px;
  }
  &--4 {
    font-size: 20px;
  }

}
}

